In [18]:
import pandas as pd
from sqlalchemy import create_engine

# إعداد بيانات الاتصال
USERNAME = 'Nizaro'  # اسم المستخدم الخاص بك
PASSWORD = '12344321'  # كلمة المرور الخاصة بك
HOST = '25.30.55.72'       # عنوان IP الخاص بالخادم
DATABASE = 'data_voiture'   # اسم قاعدة البيانات

# إنشاء محرك الاتصال
engine = create_engine(f'mysql+pymysql://{USERNAME}:{PASSWORD}@{HOST}/{DATABASE}')

# قراءة البيانات من جدول معين
table_name = 'voitures'  # اسم الجدول الذي تريد قراءة البيانات منه
df = pd.read_sql(f'SELECT * FROM {table_name}', engine)

df.head()

,ID_Voiture,Ville,Secteur,Marque,Modele,Annee_Modele,Kilometrage,Type_Carburant,Puissance_Fiscale,Boite_Vitesses,...,Camera_Recul,Vitres_Electriques,ABS,ESP,Regulateur_Vitesse,Limiteur_Vitesse,CD_MP3_Bluetooth,Ordinateur_Bord,Verrouillage_Centralise_Distance,Prix
0,1,Temara,,Dacia,Dokker Van,2013,400,Diesel,6,Manuelle,...,0,0,0,0,0,0,0,0,0,70000.0
1,2,Casablanca,,Dacia,Dokker,2014,160,Diesel,6,Manuelle,...,0,0,0,0,0,0,0,0,0,90000.0
2,3,Casablanca,,Volkswagen,Touareg,2005,0,Diesel,10,Automatique,...,0,0,0,0,0,0,0,0,0,90000.0
3,4,Dakhla,,Toyota,Prado,2007,200,Diesel,12,Manuelle,...,0,0,0,0,0,0,0,0,0,97000.0
4,5,Khouribga,Toute la ville,Volkswagen,Tiguan,2014,180,Diesel,8,Automatique,...,0,0,0,0,0,0,0,0,0,255000.0